<div class="container">
    <div class="footer-container bg-light-sand p-4 mt-4">
        <div class="sub-container d-flex align-items-center pb-0">
            <div class="d-flex flex-column flex-sm-column flex-md-row col justify-content-md-around">
                <div class="footer-content">
                    <div class="title color-dark-grey">
                        Help & Support
                    </div>
                    <div class="content">
                        <div class="d-flex">
                            <div class="footer-label">Contact Us</div>
                        </div>
                        <div class="d-flex">
                            <div class="footer-label">FAQs</div>
                        </div>
                        <div class="d-flex">
                            <div class="footer-label">Sitemap</div>
                        </div>
                        <div class="d-flex">
                            <div class="footer-label">User Guide</div>
                        </div>
                    </div>
                </div>
                <div class="footer-content">
                    <div class="title color-dark-grey">About this website</div>
                    <div class="content">
                        <div class="d-flex">
                            <div class="footer-label">Disclaimer</div>
                        </div>
                        <div class="d-flex">
                            <div class="footer-label">Copyright</div>
                        </div>
                        <div class="d-flex">
                            <div class="footer-label">Privacy Policy</div>
                        </div>
                        <div class="d-flex">
                            <div class="footer-label">Terms and conditions</div>
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-column align-items-center">
                    <div class="logo-container d-flex col justify-content-center">
                        <div class="text-primary-600 mx-2">collaboration with:</div>
                        <img src="./assets/images/TDRA_Logo_transparant.png" alt="" class="logo-custom-width usrati">
                    </div>
                </div>
            </div>
        </div>
        <div class="horizontal-divider mt-2 mb-2 p-0">
            <hr>
        </div>
        <div class="d-flex align-items-center justify-content center">
            <div class="col copyright color-black mt-1 mb sm-3 mb-md-0 px-3 d-flex justify-content-center">
                <div class="text-center">Copyright © 2023 USRATI. All rights reserved</div>
            </div>
        </div>
    </div>
</div>