

.tree{
      height: 600px;
      display: flex;
      justify-content: center;
      align-items: center;
}
.tree ul {
    padding-top: 20px; position: relative;

    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

.tree li {
    float: left; text-align: center;
    list-style-type: none;
    position: relative;
    padding: 20px 5px 0 5px;

    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

/*We will use ::before and ::after to draw the connectors*/

.tree li::before, .tree li::after{
    content: '';
    position: absolute; top: 0; right: 50%;
    border-top: 1.5px solid #dab026;;
    width: 50%; height: 20px;
}

/*We need to remove left-right connectors from elements without 
any siblings*/
.tree li:only-child::after, .tree li:only-child::before {
    display: none;
}

/*Remove space from the top of single children*/
.tree li:only-child{ padding-top: 0;}


/*Time to add downward connectors from parents*/
.tree ul ul::before{
    content: '';
    position: absolute; top: 0;
    border-left: 1.5px solid #dab026;
    width: 0; height: 20px;
}

.tree li a{
    border: 1px solid #344b61;
    padding: 15px;
    line-height: 0px;
    border-left: 8px solid #344b61;
    border-right: 8px solid #344b61;
    width: 250px;
    font-weight: 400;
    text-decoration: none;
    color: #666;
    font-size: 13px;
    display: inline-block;
    font-weight: 800;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;

    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}



.tree ul ul ul ul li a {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    padding: 20px;
    text-decoration: none;
    color: #666;
    font-weight: 800;
    font-size: 11px;
    border: 1px solid #344b61;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    text-orientation: mixed !important;
    white-space: nowrap; /* Prevent text from wrapping */
    
    writing-mode: vertical-rl; /* Vertical orientation */
}



.tree li::after{
    right: auto; left: 50%;
    border-left: 1.5px solid #dab026;
}
.tree ul ul ul::before {
    content: '';
    position: absolute; left: 50%; bottom: -20px;
    border-left: 1.5px solid #dab026;
    height: 20px;
}
/*Remove left connector from first child and 
  right connector from last child*/
.tree li:first-child::before, .tree li:last-child::after{
    border: 0 none;
}
/*Adding back the vertical connector to the last nodes*/
.tree li:last-child::before{
    border-right: 1.5px solid #dab026;;
    border-radius: 0 5px 0 0;
    -webkit-border-radius: 0 5px 0 0;
    -moz-border-radius: 0 5px 0 0;
}
.tree li:first-child::after{
    border-radius: 5px 0 0 0;
    -webkit-border-radius: 5px 0 0 0;
    -moz-border-radius: 5px 0 0 0;
}
.mobile-view
{
    display: none;
}
.icons{
    width: 35px;
    position: relative;
    left: 4.5rem;
    bottom: 2rem;
    padding-top: 5px;
}
 .wd-man
 {
    width: 45px!important;
 }
.pd-t
{
    padding-top: 2rem!important;
}
.icons-child
{
    left: 2.5rem;
}

@media (max-width: 768px) {
    .tree ul.wives {
      display: flex;
      flex-direction: row;    /* wives side by side */
      justify-content: center;
      gap: 10px;
      padding-top: 20px;
    }

    .mobile-view
    {
        display: block!important;
    }
  
    .tree ul.wives li {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 5px;
    }
  
    .tree ul.wives::before {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      border-left: 1.5px solid #dab026; /* connector from husband */
      height: 20px;
    }
  }
  
  
  
  